## Clock signal
NET "clk"	LOC = "E3" | IOSTANDARD = "LVCMOS33"; #Bank =35, Pin name = #IO_L12P_T1_MRCC_35, Sch name = clk100mhz

## input wire rst

## Pmod Header JD
NET "CAM_PCLK"  LOC=H4 | IOSTANDARD=LVCMOS33;
NET "CAM_HREF"  LOC=H1 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_35
NET "CAM_VSYNC" LOC=G1 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_35
NET "CAM_D0"    LOC=G3 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_35
NET "CAM_D1"    LOC=H2 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_35
NET "CAM_D2"    LOC=G4 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_35
NET "CAM_D3"    LOC=G2 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_35
NET "CAM_D4"    LOC=F3 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_35

## Pmod Header JC
NET "CAM_D5" LOC=K1 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_35
NET "CAM_D6" LOC=F6 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35
NET "CAM_D7" LOC=J2 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_35

NET "CAM_xclk" LOC=G6 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "CAM_pwdn" LOC=E7 | IOSTANDARD=LVCMOS33; #IO_L6P_T0_35
NET "CAM_reset" LOC=J3 | IOSTANDARD=LVCMOS33; #IO_L22P_T3_35 